<p class="p-0 mb-0 bg-tbbg text-primary text-center">
  <br/> Proudly powered by <a href="https://www.bestaticpy.com" target="_blank">Bestatic</a> | © Copyright 2024 Tatsat Banerjee | <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA 4.0 License.</a> <br/><br/>

  {# <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin" style="font-size:36px"></i></a> &nbsp &nbsp
  <a href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter-x" style="font-size:36px"></i></a> &nbsp &nbsp  #}
    <a href="https://www.bestaticpy.com/docs" target="_blank"><i class="bi bi-book" style="font-size:36px"></i></a> &nbsp 
  <a href="https://www.github.com/tatsatb/bestatic" target="_blank"><i class="bi bi-github" style="font-size:36px"></i></a> &nbsp 
     <a href="https://www.bestaticpy.com/index.rss" target="_blank"><i class="bi bi-rss-fill" style="font-size:36px"></i></a> &nbsp 
  <a href="mailto:tatsatb@jhu.edu" target="_blank"><i class="bi bi-envelope-fill" style="font-size:36px"></i></a> <br/><br/>



  &nbsp &nbsp<a href="{{root_path}}"><img src="{{ Image_path }}/Bottom logo.png" width="128" height="128" alt="Home" /></a><br/><br/>

</p>