{% from "partials/macros/navmacro.html.jinja2" import render_nav %}

{{ render_nav(nav, post_directory_plural) }}

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="smallptag">White space acts as an AND operator, while a single pipe (|) character acts as an OR operator. To escape white space, use double quote, for e.g., "scheme language" for exact match. For exact match in the single words, start with an apostrophe ('), for e.g., 'scheme. </p>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search" b-search-file-index="/index.json" id="searchInput">
                <button class="btn btn-primary" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                  </svg>
                </button>
              </div>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('searchModal').addEventListener('shown.bs.modal', function () {
    document.getElementById('searchInput').focus();
});
</script>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
<script src="/static/js/fuse-search-modal-ui.js"></script>

