{% set css_path = "/static/css" %}
{% set Image_path = "/static/Images" %}

{% if post is defined %}
    {% set katex = post.katex %}
{% endif %}
{% if page is defined %}
    {% set katex = page.katex %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head.html.jinja2' -%}

    {% if katex == True %}
        {% include 'partials/katex.html.jinja2' %}
    {% endif %}

    <meta name="description" content="{% block description %}{{ description }}{% endblock %}"/>
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>

<body>
    <script src="/static/js/vanilla-back-to-top.min.js"></script>
    <script>
        addBackToTop({
            diameter: 56,
            backgroundColor: 'rgb(12,64,201)',
            textColor: '#fff'
        })
    </script>

    <script src="/static/js/scrollnav.js"></script>

    {% include 'partials/nav.html.jinja2' %}

    {% block content %} {% endblock %}

    <br/>

    {% include 'partials/footer.html.jinja2' %}
</body>
</html>