<script src="{{ root_path }}/static/js/sidebar.js"></script>


<div class="footer bg-tbbg text-primary">
	<div class="container">
	  <div class="row d-flex justify-content-end">
		<div class="col-md-6 col-sm-12">
		  <!-- Your "Powered by Bestatic" content -->
		  <br/> Proudly powered by <a href="https://www.bestaticpy.com" target="_blank">Bestatic</a> <br/> Copyright © 2024 Tatsat Banerjee | <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA 4.0 License.</a> <br/><br/>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="float-end">
		  <!-- Your social media icons or other content -->
		  <br/>
 
		  {# <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin" style="font-size:36px"></i></a>  
		  <a href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter-x" style="font-size:36px"></i></a>   #}
		  <a href="https://www.bestaticpy.com" target="_blank"><i class="bi bi-house" style="font-size:36px"></i></a>
		  <a href="https://github.com/tatsatb/bestatic" target="_blank"><i class="bi bi-github" style="font-size:36px"></i></a>  
		  <a href="https://www.bestaticpy.com/index.rss" target="_blank"><i class="bi bi-rss-fill" style="font-size:36px"></i></a> 

		  <a href="mailto:tatsatb@jhu.edu" target="_blank"><i class="bi bi-envelope-fill" style="font-size:36px"></i></a> <br/><br/><br/><br/>
		</div></div>
	  </div>
	</div>
  </div>
