{% extends "layout.html.jinja2" %}
{% block title %}{{page.metadata["title"]}} | {{ title}}{% endblock %}
{% block description %}{{page.metadata["description"]}}{% endblock %}
{% block content %}



{# <h1><br/>{{page.metadata["title"]}}</h1> #}

    {{page.content}}

{% endblock %}

